.home {
  display: flex;
}

.product-container {
  display: flex;
  width: 75%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products {
  width: 30%;
  margin: 10px;
}

.product-title {
  font-size: 30px;
}

.filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 85vh;
}

.filters > span {
  padding-bottom: 20px;
}

.cart-item,
.admin-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cart-item-img,
.admin-item-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cart-item-details,
.admin-item-details {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.summay {
  width: 30%;
}
.navigation-arrow {
  height: 10vh;
  background-color: aliceblue;
  margin-bottom: 20px;
}

@media (max-with: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 10px;
  }

  .product-title {
    font-size: 18px !important;
  }

  .product-container {
    width: 58%;
    padding: 0;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}
